@keyframes slide-in-left {
  0% {
    transform: translateX(-200px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
body {
  margin: 0;
  line-height: normal;
}
.rectangle-div {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 0 0 var(--br-md) var(--br-md);
  background-color: var(--color-gray-400);
  width: 1440px;
  height: 113px;
}
.project-div {
  top: 48px;
  left: 1097px;
  font-size: var(--font-size-2xl);
  font-family: var(--font-inter);
  cursor: pointer;
  border-radius: 5px;
}
.contact-div,
.hello-my-name-is,
.project-div,.hola {
  position: absolute;
  display: inline-block;
}
.project-div:hover
{
  background-color: white;
  color: #06161D;
  box-shadow: 0px 0px 50px white;
}
.contact-div {
  top: 48px;
  left: 1227px;
  font-size: var(--font-size-2xl);
  font-family: var(--font-inter);
  cursor: pointer;
  border-radius: 5px;
}
.contact-div:hover
{
  background-color: white;
  color: #06161D;
  box-shadow: 0px 0px 50px white;
}
.hello-my-name-is {
  top: 230px;
  left: 218px;
  font-size: var(--font-size-3xl);
  color: var(--color-tan);
}
.hola
{
  top: 230px;
  left: 156px;
  font-size: var(--font-size-3xl);
  color: var(--color-tan);
}
.muhammad-rizky-ardiansyah {
  position: absolute;
  top: 259px;
  left: 156px;
  font-size: var(--font-size-7xl);
  display: inline-block;
  color: var(--color-tan);
}
.selected-projects-div,
.tools-skills,
.what-im-good-at {
  position: absolute;
  top: 2825px;
  left: 537px;
  font-size: var(--font-size-7xl);
  display: inline-block;
}
.selected-projects-div,
.tools-skills {
  top: 3373px;
  left: 582px;
}
.selected-projects-div {
  top: 864px;
  left: 156px;
}
.based-in-jakarta {
  margin-block-start: 0;
  margin-block-end: 0;
}
.design-in-mobile {
  margin: 0;
}
.based-in-jakarta-indonesia-en {
  position: absolute;
  top: 352px;
  left: 156px;
  font-size: var(--font-size-3xl);
  font-weight: 200;
  white-space: pre-wrap;
  display: inline-block;
  width: 450px;
  cursor: auto;
  text-align: left;
}
.download-cv-div,
.view-on-dribbble,
.view-on-dribbble1 {
  position: absolute;
  top: 630px;
  left: 211px;
  text-decoration: underline;
  display: inline-block;
  border-radius: 5px;
  cursor: pointer;
}
.download-cv-div:hover,
.view-on-dribbble:hover,
.view-on-dribbble1:hover
{
  background-color: #212121;
  color: white;
  box-shadow: 0px 0px 20px #212121;
}
.view-on-dribbble,
.view-on-dribbble1 {
  top: 1785px;
}
.view-on-dribbble1 {
  top: 2693px;
}
.able-to-establish-good-communi,
.good-suffice-to-manage-the-tim {
  position: absolute;
  top: 3150px;
  left: 130px;
  white-space: pre-wrap;
  text-align: center;
  display: inline-block;
  width: 250px;
  font-weight: 200;
}
.able-to-establish-good-communi {
  left: 450px;
  width: 250px;
  text-align: center;
}
.enthusiasm-to-learn-new-things{
  position: absolute;
  top: 3150px;
  left: 1060px;
  white-space: pre-wrap;
  text-align: center;
  display: inline-block;
  width: 250px;
  font-weight: 200;
}
.capable-adapt-to-the-work-envi {
  position: absolute;
  top: 3150px;
  left: 760px;
  white-space: pre-wrap;
  text-align: center;
  display: inline-block;
  width: 250px;
  font-weight: 200;
}
.redesign-alpukat-betawi-ios-ve,
.simple-landing-page {
  position: absolute;
  top: 1739px;
  left: 172px;
  font-size: var(--font-size-xl);
  font-weight: 500;
  display: inline-block;
}
.simple-landing-page {
  top: 2650px;
}
.adaptable-div,
.eager-to-learn,
.teamwork-div,
.time-management-div {
  position: absolute;
  top: 3154px;
  left: 178px;
  font-size: var(--font-size-lg);
  font-weight: 500;
  text-align: center;
  display: inline-block;
}
.adaptable-div,
.eager-to-learn,
.teamwork-div {
  left: 515px;
}
.adaptable-div,
.eager-to-learn {
  left: 813px;
}
.adaptable-div {
  left: 1142px;
}
.rectangle-div1 {
  position: absolute;
  top: 238px;
  left: 923px;
  background-color: var(--color-gray-300);
  width: 280px;
  height: 469px;
}
.rectangle-div2 {
  position: absolute;
  top: 219px;
  left: 954.54px;
  border: 5px solid var(--color-gray-400);
  box-sizing: border-box;
  width: 70px;
  height: 75px;
  transform: rotate(45.55deg);
  transform-origin: 0 0;
}
.contoh-2-web-1 {
  position: absolute;
  top: 1865px;
  left: 153px;
  width: 1128px;
  height: 764px;
  object-fit: cover;
}
.image-12-icon,
.image-15-icon,
.image-16-icon {
  position: absolute;
  top: 631px;
  left: 173px;
  width: 22px;
  height: 22px;
  object-fit: cover;
}
.image-15-icon,
.image-16-icon {
  top: 1779px;
  left: 172px;
  width: 29px;
  height: 29px;
}
.image-16-icon {
  top: 2687px;
}
.ellipse-icon,
.polygon-icon {
  position: absolute;
  top: 448px;
  left: 1145px;
  width: 100px;
  height: 100px;
}
.polygon-icon {
  top: 327.24px;
  left: 893.58px;
  width: 95.61px;
  height: 93.5px;
}
.mask-group-icon,
.rectangle-div3 {
  position: absolute;
  top: 212px;
  left: 1095px;
  width: 158px;
  height: 124px;
}
.rectangle-div3 {
  top: 3610px;
  left: 0;
  background-color: var(--color-gray-400);
  width: 1440px;
  height: 322px;
}
.for-bussiness-inquiry-please-s {
  position: absolute;
  top: 3738px;
  left: 155px;
  font-size: var(--font-size-2xl);
  text-align: center;
  display: inline-block;
  width: 420px;
  height: 35px;
}
.image-32-icon {
  position: absolute;
  top: 3822px;
  left: 155px;
  width: 33px;
  height: 38px;
  object-fit: cover;
}
.ardiansyah699gmailcom-div,
.get-in-touch {
  position: absolute;
  left: 155px;
  display: inline-block;
}
.ardiansyah699gmailcom-div {
  top: 3773px;
  text-decoration: underline;
  color: var(--color-tan);
  width: 210px;
  height: 26px;
}
.get-in-touch {
  top: 3657px;
  font-size: var(--font-size-7xl);
  width: 250px;
  height: 69px;
}
.fire-undefined-glyph-unde,
.fire-undefined-glyph-unde1 {
  position: absolute;
  top: 2926px;
  left: 794px;
  width: 65px;
  height: 65px;
  overflow: hidden;
}
.fire-undefined-glyph-unde1 {
  top: 2993px;
  left: 774px;
  width: 33px;
  height: 33px;
}
.accessibility-undefined-gl,
.accessibility-undefined-gl1 {
  position: absolute;
  top: 3060px;
  left: 465px;
  width: 60px;
  height: 58px;
  overflow: hidden;
}
.accessibility-undefined-gl1 {
  top: 3026px;
  left: 622px;
  width: 43px;
  height: 42px;
}
.star-emphasis-undefined-gl,
.star-emphasis-undefined-gl1 {
  position: absolute;
  top: 2931px;
  left: 1230px;
  width: 65px;
  height: 65px;
  overflow: hidden;
}
.star-emphasis-undefined-gl1 {
  top: 3050px;
  left: 1085px;
  width: 32px;
  height: 32px;
}
.image-23-icon,
.image-24-icon {
  position: absolute;
  top: 3468px;
  left: 590px;
  width: 50px;
  height: 50px;
  object-fit: cover;
}
.image-24-icon {
  left: 695px;
}
.image-27-icon,
.image-28-icon,
.image-29-icon,
.rectangle-icon {
  position: absolute;
  top: 3468px;
  left: 800px;
  width: 49px;
  height: 50px;
  object-fit: cover;
}
.image-28-icon,
.image-29-icon,
.rectangle-icon {
  left: 485px;
  width: 50px;
}
.image-28-icon,
.rectangle-icon {
  top: 3467px;
  left: 904px;
}
.rectangle-icon {
  top: 26px;
  left: 88px;
  width: 68px;
  height: 68px;
}
.image-34-icon,
.shadow-overlay-two-iphone-13-o-icon {
  position: absolute;
  top: 952px;
  left: 154px;
  width: 1128px;
  height: 764px;
  object-fit: cover;
}
.image-34-icon {
  top: 246px;
  left: 861px;
  width: 380px;
  height: 513px;
}
.image-40-icon,
.mask-group-icon1,
.mask-group-icon2,
.mask-group-icon3,
.mask-group-icon4 {
  position: absolute;
  top: 2940px;
  left: 167px;
  width: 186px;
  height: 186px;
  object-fit: cover;
}
.image-40-icon,
.mask-group-icon2,
.mask-group-icon3,
.mask-group-icon4 {
  left: 1105px;
}
.image-40-icon,
.mask-group-icon3,
.mask-group-icon4 {
  left: 481px;
}
.image-40-icon,
.mask-group-icon4 {
  left: 789px;
}
.image-40-icon {
  top: 3822px;
  left: 217px;
  width: 38px;
  height: 38px;
}
.huge-icon,
.huge-icon1 {
  position: absolute;
  height: 0.71%;
  width: 80px;
  top: 78.46%;
  right: 76.11%;
  bottom: 20.83%;
  left: 21.94%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.huge-icon1 {
  height: 1.37%;
  width: 3.75%;
  top: 75.18%;
  right: 85.35%;
  bottom: 23.45%;
  left: 10.9%;
}
.web-portofolio-2 {
  position: relative;
  background: linear-gradient(180deg, #2c3639, #3f4e4f);
  width: 100%;
  height: 3932px;
  overflow: hidden;
  opacity: 0;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-white);
  font-family: var(--font-poppins);
}
.web-portofolio-2.animate {
  animation: 0.25s ease 0s 1 normal forwards slide-in-left;
}
.selected-projects-div {
  position: relative;
  font-family: sans-serif;
  text-transform: uppercase;
  font-size: 3em;
  letter-spacing: 4px;
  overflow: hidden;
  background: linear-gradient(90deg, #000, #fff, #000);
  background-repeat: no-repeat;
  background-size: 80%;
  animation: animate 3s linear infinite;
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgba(255, 255, 255, 0);
}

@keyframes animate {
  0% {
    background-position: -500%;
  }
  100% {
    background-position: 500%;
  }
}


/*text animation*/
.muhammad-rizky-ardiansyah, span {
  border-right: solid 3px rgba(0,255,0,.75);
  white-space: nowrap;
  overflow: hidden;    
  font-family: 'Poppins', monospace;  
  font-size: 28px;
  color: #06161D;

  
}

/* Animation */
.muhammad-rizky-ardiansyah, span {
  animation: animated-text 4s steps(30,end) 1s 1 normal both,
             animated-cursor 600ms steps(30,end) infinite;
}

/* text animation */

@keyframes animated-text{
  from{width: 0;}
  to{width: 418px;}
}

/* cursor animations */

@keyframes animated-cursor{
  from{border-right-color: #a27b5c}
  to{border-right-color: transparent;}
}



.hello-my-name-is {
  display: inline-block;
  width: 300px;
  text-align: left;
  height: 36px;
  vertical-align: -2px;
}

.hello-my-name-is > div {
  font-size:0px;
  opacity:0;
  margin-left:-30px;
  position:absolute;
  font-weight:500;   
  /*box-shadow: 0px 60px 25px -20px rgba(0,0,0,0.5);*/
}

.hello-my-name-is > div:nth-child(1) {
  animation: roll 5s linear infinite 0s;
}
.hello-my-name-is > div:nth-child(2) {
  animation: roll 5s linear infinite 1s;
}
.hello-my-name-is > div:nth-child(3) {
  animation: roll 5s linear infinite 2s;
}
.hello-my-name-is > div:nth-child(4) {
  animation: roll2 5s linear infinite 3s;
}

@keyframes roll {
  0% {
    font-size:0px;
    opacity:0;
    margin-left:-30px;
    margin-top:0px;
    transform: rotate(-25deg);
  }
  3% {
    opacity:1;
    transform: rotate(0deg);
  }
  5% {
    font-size:inherit;
    opacity:1;
    margin-left:0px;
    margin-top:0px;
  }
  20% {
    font-size:inherit;
    opacity:1;
    margin-left:0px;
    margin-top:0px;
    transform: rotate(0deg);
  }
  27% {
    font-size:0px;
    opacity:0.5;
    margin-left:20px;
    margin-top:100px;
  }
  100% {
    font-size:0px;
    opacity:0;
    margin-left:-30px;
    margin-top:0px;
    transform: rotate(15deg);
  }
}

@keyframes roll2 {
  0% {
    font-size:0px;
    opacity:0;
    margin-left:-30px;
    margin-top:0px;
    transform: rotate(-25deg);
  }
  3% {
    opacity:1;
    transform: rotate(0deg);
  }
  5% {
    font-size:inherit;
    opacity:1;
    margin-left:0px;
    margin-top:0px;
  }
  30% {
    font-size:inherit;
    opacity:1;
    margin-left:0px;
    margin-top:0px;
    transform: rotate(0deg);
  }
  37% {
    font-size:1500px;
    opacity:0;
    margin-left:-1000px;
    margin-top:-800px;
  }
  100% {
    font-size:0px;
    opacity:0;
    margin-left:-30px;
    margin-top:0px;
    transform: rotate(15deg);
  }
}

@keyframes bg {
  0% {background: #ff0075;}
  3% {background: #0094ff;}
  20% {background: #0094ff;}
  23% {background: #b200ff;}
  40% {background: #b200ff;}
  43% {background: #8BC34A;}
  60% {background: #8BC34A;}
  63% {background: #F44336;}
  80% {background: #F44336;}
  83% {background: #F44336;}
  100% {background: #F44336;}
}
